html, body, #map {
  height: 99%;
  font-family: "Avenir LT W01 35 Light", "Century Gothic", "Meiryo", Helvetica, Arial, sans-serif;
}

/* Title Container */
#title {
  position: absolute;
  z-index: 999;
  top:40%;
  left:50%;
  width:100%;
  margin:-1.5em 0 0 -50%;
  color: #333;
  text-align: center;
}
.btn {
  border: 0;
  color: #fff;
  background-color: #20b2aa;
  font-weight: 700;
  margin: 5px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
}
.btn-github {
  background-color: #20b2aa;
}
.btn-github:hover {
  background-color: #42ddd4;
}

/* Logout Container */
#logout {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  margin: 1.5em;
  text-align: right;
}
.avator-icon {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border: 0; /* Inner border */
  border-radius: 40px; /* Making round */
  -webkit-border-radius: 40px;
}

/* Message Form */
#message-form {
  position: absolute;
  z-index: 999;
  left:50%;
  width:100%;
  bottom: 0;
  margin:-1.5em 0 0 -50%;
  text-align: center;
}
.chatter {
  height: 30px;
  width: 60%;
  margin: 15px;
  padding: 5px;
  font-family: "Avenir LT W01 35 Light", "Century Gothic", "Meiryo", Helvetica, Arial, sans-serif;
  opacity: 0.8;
}
.btn-chatter {
  width: 18%;
  height: 42px;
  background-color: #55acee;
}
.btn-disabled {
  width: 18%;
  height: 42px;
  background-color: #ccc;
}
.btn-chatter:hover {
  background-color: #55d2ee;
}

/* Leaflet */
.leaflet-container {
  background: rgba(0,0,0,0);
}
.leaflet-fade-anim .leaflet-tile, .leaflet-fade-anim .leaflet-popup {
  /*transition: opacity, transform 0.2s linear;*/
}
.leaflet-popup-content p {
  text-align: center;
}
svg.leaflet-zoom-animated > g > path.world-line {
  /* CSS3 Transition to fade-in highlight style */
  transition-property: fill, fill-opacity, stroke, stroke-opacity, stroke-width;
  transition-duration: 0.4s;
  /* for a border line generation */
  stroke-dashoffset: 2500;
  stroke-dasharray: 2500;
  stroke-linecap: round;
}
/* Custom icon style */
.leaflet-avator-icon {
  border: 4px #fff solid; /* Inner border */
  border-radius: 40px; /* Making round */
  -webkit-border-radius: 40px;
  box-shadow: 0 0 0 2px #00D0CE, 0 8px 5px rgba(0,0,0,0.4); /* Outer border and shadow */
  /*transition: transform 0.2s linear;*/
}
